<strong> Hi, {{student }} </strong>
<p>Welcome to your new gym! Bellow you can see some details about your plan:</p>
<p>
  <strong>Plan: </strong> {{ plan }} <br />
  <strong>Expiration date: </strong> {{ end_date }} <br />
  <strong>Price: R$</strong> {{ price }} <br />
  <br />
  <p>If you have any trouble, come talk to us!</p>
</p>
